//dark mode colors
$accent-color: 	#006400;
$revert-accent-color: #791515;
$middle-accent-color: #FFFAFA;
$hover-color: #D3D3D3;
$dark-background-color: #4682B4;
$dark-box-color: #778899;
$dark-text-color: black;
$mobile-width: 600px;
$footer-color: 		#5F9EA0;
$footer-height: 80px;
$header-height: 80px;

//light mode colors
$light-background-color: #E0FFFF;
$light-text-color: #556B2F;


